<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" color="medium">
        <ion-icon slot="icon-only" name="settings-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <img class="logo" src="https://zupimages.net/up/22/26/bcjb.png">
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" color="medium">
        <ion-icon slot="icon-only" name="chatbubbles-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <ion-button [routerLink]="['/register']" expand="block" color="primary">Créer un compte</ion-button>
        <ion-button [routerLink]="['/login']" expand="block" color="danger">Me connecter</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
